body {
    color: rgb(5, 0, 20);
  }

.testpage{
    color: cadetblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  /* Permet de prendre toute la hauteur de la page */
    width: 100%;   /* Permet de prendre toute la largeur de la page */
  }
  
